@use 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.v-move,
.v-enter-active,
.v-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.v-leave-active {
  position: absolute;
}
