$color-accent-main: #6357B1;
$color-accent-secondary: #25FF90;
$color-text-main: #4B4B4B;
$color-text-inverse: #FFFFFF;
$color-background-main: #F5F5F5;
$color-background-alt: #F6F6F6;
$color-background-secondary: #FFFFFF;

$border-radius: 4px;
$box-shadow: 3px 3px 6px 1px rgba(#000, 0.1);
$border: 1px solid #EAEAEA;
